* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}



.header {
    background-image: linear-gradient(90deg, rgba(44, 44, 44, 0.4) 0%,rgba(44, 44, 44, 0.5) 100%, transparent 20%) ,url(banner2.png);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    min-height: 120vh;
    color: white;
    
}

.header a {
    color: white;
    text-decoration: none;
}

.header::after {
    background-color: #444;
    opacity: 0.5;
}

.communication {
    background: rgba(44, 44, 44, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    color: white;
    font-size: 13px;
    height: 48px;
    padding: auto 0;
}

.communication a {
    color: white;
    text-decoration: none;
}

.communication .social a {
    margin-right: 15px;
    text-decoration: none;
    font-size: 20px;
    
}

.communication .social a i:hover {
    color: #28AE60;
    transition: 0.4s;
}

.communication .contact a {
    margin-left: 40px;
    text-decoration: none;
    font-size: 15px;
}

.communication .contact a:hover{
    color: #28AE60;
    transition: 0.4s;
}

.navbar {
    height: 107px;
    padding: 12px 200px;
    display: flex;
    justify-content: space-between;
    
}

.navbar .line {
    width: 100%;
    height: 1px;
    background-color: #4B4E50;
}

.navbar .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 12px 0;
    margin-bottom: 0;

}

.menu a:hover,
.menu button:hover {
    color: #28AE60;
    transition: 0.5s;
}

.dropdown .dropdown-toggle {
    background-color: transparent !important;
    color: white;
}

.dropdown-menu .dropdown-item {
    color: black;
}

.menu li {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logodiv {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 144px;
    height: 38px;
    padding-top: -20px;
}

.btn-quote {
    max-width: 125px;
    width: 125px;
    height: 44px;
    background-color: #28AE60;
    color: white;
    border: none;
    border-radius: 4px;
}

.introduction {
    max-width: 1140px;
    height: 263px;
    padding: 150px 200px;
}

.introduction h3 {
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 62px;
}

.introduction p {
    font-size: 20px;
    font-weight: 400;
    color: #D5D5D5;
    margin-bottom: 24px;
    margin-top: 10px;
}

.introduction button {
    background-color: #28AE60;
    padding: 14px 27px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    margin-right: 20px;
    cursor: pointer;
}
.introduction a {
    border: 1px solid #fff;
    padding: 12.5px 27px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: 0.5s;
}

.introduction a:hover {
    background-color: #28AE60;
    border: 1px solid #28AE60;
}

.solutions {
    height: 700px;
    width: 100%;
    padding: 12px 200px;
    margin-top: 150px;
    
}

.solutions h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 70px;
}

.solution-flex {
    display: flex;

}

.invoicing, 
.business-growth, 
.problem-solving {
    width: 350px;
    height: 280px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invoicing {
    background-image: linear-gradient(90deg, rgba(44, 44, 44, 0.4) 0%,rgba(44, 44, 44, 0.5) 100%, transparent 20%) ,url(1.png);
    background-size: cover;
    position: relative;
    color: white;
}

.hover-solution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #28AE60;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invoicing:hover .hover-solution {
    height: 100%;
}

.text-hover {
    text-align: center;
    margin: 5px 75px;
    font-weight: 300;
}


.img-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.business-growth {
    background-image: linear-gradient(90deg, rgba(44, 44, 44, 0.4) 0%,rgba(44, 44, 44, 0.5) 100%, transparent 20%) ,url(2.png);
    background-size: cover;
    position: relative;
    color: white;
}

.business-growth:hover .hover-solution {
    height: 100%;
}

.problem-solving {
    background-image: linear-gradient(90deg, rgba(44, 44, 44, 0.4) 0%,rgba(44, 44, 44, 0.5) 100%, transparent 20%) ,url(3.png);
    background-size: cover;
    position: relative;
    color: white;
}

.problem-solving:hover .hover-solution {
    height: 100%;
}

.about_area  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_area-text {
    padding-left: 68px;
}

.about_area-text h3 {
    font-size: 36px;
    font-weight: 400;
}

.about_area-text p {
    font-size: 16px;
    line-height: 28px;
    color: #727272;
    margin: 28px 0 22px 0;
    padding-right: 100px;
    font-weight: 300;
}

.about_area-text ul {
    list-style: none;
    margin-bottom: 56px;
    color: #727272;
    font-weight: 400;
    line-height: 28px;
}

.about_area-text ul li {
    padding-left: 28px;
    margin-bottom: 5px;
    position: relative;
}

.about_area-text ul li::before {
    background-image: url(https://preview.colorlib.com/theme/busicol/img/svg_icon/check.svg);
    position: absolute;
    width: 16px;
    height: 16px;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.about_area-text button {
    max-width: 170px;
    padding: 13px 46px 14px 46px;
    background-color: #28AE60;
    color: white;
    border: none;
    border-radius: 5px;
    
}

.counter {
    background-color: #F5FBFF;
    padding: 100px 200px 70px 200px;
    display: flex;
    justify-content: space-between;
}

.counter div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.counter div h1 {
    font-size: 50px;
    font-weight: 400;
}

.counter div p {
    font-size: 16px;
    color: #919191;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-text {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.gallery-text h3 {
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 15px;
}

.gallery-text p {
    color: #727272;
}

.slides {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 390px 390px;
    width: 1140px;
    grid-gap: 20px;
    grid-row-gap: 20px;
}

.portfolio-img1 {
    background-repeat: no-repeat;
    height: 396px;
    background-image: url(gallery1.png);
}

.portfolio-img2 {
    background-repeat: no-repeat;
    height: 396px;
    background-image: url(gallery2.png);
    grid-column: 2 / 3;
}

.portfolio-img3 {
    background-repeat: no-repeat;
    height: 396px;
    background-image: url(gallery3.png);
}

.portfolio-img4 {
    background-repeat: no-repeat;
    height: 396px;
    background-image: url(gallery4.png);
    grid-column: 1/3;
}

.portfolio-img5 {
    background-repeat: no-repeat;
    height: 396px;
    background-image: url(gallery5.png);
}

.portfolio-img {
    position: relative;
    cursor: pointer;
    
}

.portfolio-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #28AE60;
    opacity: 0.7;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.portfolio-img:hover .portfolio-text {
    width: 100%;
}

.hover_inner {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
}

.hover_inner:hover {
    color: white;
    text-decoration: none;
}

.hover_inner h3 {
    font-size: 22px;
    font-weight: 400;
}

.hover_inner span {
    font-size: 14px;
    font-weight: 300;
}

.gallery button {
    color: #28AE60;
    background-color: white;
    padding: 14px 31px;
    letter-spacing: 2px;
    border: 1px solid #28AE60;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 40px;
    cursor: pointer;
}

.gallery button:hover {
    background-color: #28AE60;
    color: white;
}

.about_wrap_area {
    background-image: linear-gradient(90deg, rgba(44, 44, 44, 0.5) 0%,rgba(44, 44, 44, 0.6) 100%, transparent 20%) ,url(about_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    margin-top: 150px;
}

.container {
    text-align: center;
    padding: 70px 60px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transition: 0.5s;
}

.container h3 {
    margin-top: 38px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}

.container p {
    color: #D5D5D5;
    font-weight: 300;
}

.container:hover {
    background-color: #28AE60;

}

.financial_solution_area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.financial_solution {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.financial_solution-text {
    padding: 0 15px;
    width: 570px;

}

.financial_solution-text h3 {
    font-size: 36px;
    line-height: 55px;
    font-weight: 400;
    margin-bottom: 20px;
}

.financial_solution-text p {
    color: #727272;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.project_area {
    background-color: #28AE60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 0;
    color: white;
}

.project_area h3 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

.project_area p {
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 30px;
}

.project_area button {
    background-color: #28AE60;
    border: 1px solid #fff;
    padding: 13px 30px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.project_area button:hover {
    background-color: white;
    color: #28AE60;
}

footer {
    background-color: #2C2C2C;
    color: #C7C7C7;
}

.footer {
    display: flex;
    padding: 130px 150px;
}

.footer-address {
    list-style: none;
    margin: 20px;
}

.footer-logo {
    max-width: 350px;
    margin-right: 90px;
}

.footer-logo p {
    margin-top: 50px;
    line-height: 27px;
    font-weight: 300;
}

.footer h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.Services,
.useful-Links,
.address {
    margin-right: 100px;
    
}

.footer-address {
    margin-left: 0;
    margin-top: 50px;
}

.footer-address li {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    transition: 0.5s;
    cursor: pointer;
}

.footer-address li:hover {
    color: #28AE60;
}

@media only screen and (max-width: 768px) {
    .header {
      padding: 20px;
    }
    
    .communication {
      display: none;
    }
    
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
    
    .logodiv {
      width: 50%;
    }
    
    .logo {
      width: 100%;
      height: auto;
    }
    
    .menu {
      display: none;
    }
    
    .search {
      display: none;
    }
    
    .introduction {
      padding: 100px 20px 20px 0;
      text-align: start;
    }
    
    .introduction h3 {
      font-size: 24px;
      line-height: 35px;
    }
    
    .introduction p {
      font-size: 14px;
      margin-bottom: 20px;
    }
    
    .btns {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    
    .btns button {
      margin-bottom: 10px;
    }

    .solutions {
        padding: 12px 50px;
        height: 1200px;
    }
        
    .solution-flex {
        flex-wrap: wrap;
    }
        
    .invoicing,
    .business-growth,
    .problem-solving {
        width: 100%;
        height: 300px;
        margin: 20px 0;
    }

    .about_area {
        flex-direction: column;
        align-items: center;
    }
            
    .about_area img {
        height: auto;
        margin-bottom: 30px;
    }
            
    .about_area-text {
        padding: 0;
        text-align: start;
        padding: 10px;
    }
            
    .about_area-text p {
        padding: 0;
    }

    .counter {
        padding: 50px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      
    .counter div {
        width: 50%;
        margin-bottom: 40px;
    }

    .gallery-text {
        margin-top: 50px;
    }
    
    .slides {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px;
        width: 90%;
    }
    
    .portfolio-img1,
    .portfolio-img2,
    .portfolio-img3,
    .portfolio-img4,
    .portfolio-img5 {
        height: 296px;
    }

    .about_wrap_area {
        height: 500px;
        padding: 0 100px;
        margin-top: 80px;
        flex-direction: column;
        height: 1210px;
    }

    .container {
        padding: 50px 30px;
        margin: 20px 10px;
        font-size: 14px;
    }

    .container h3 {
        margin-top: 20px;
        font-size: 16px;
    }

    .container p {
        font-size: 12px;
    }

    .financial_solution {
        flex-direction: column;
        margin: 50px 0;
      }
      
      .financial_solution-text {
        width: 100%;
        text-align: start;
      }
      
      .financial_solution-text h3 {
        font-size: 28px;
        line-height: 45px;
      }

      footer {
        background-color: #2C2C2C;
        color: #C7C7C7;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 80px 15px;
    }
    
    .footer > * {
        margin: 0 20px;
        max-width: 300px;
        text-align: center;
    }

    .footer-logo {
        text-align: start;
        margin-bottom: 40px;
    }
    
    .footer-logo p {
        margin-top: 30px;
    }
    
    .footer h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    
    .footer-address {
        margin-top: 20px;
        text-align: start;
    }
    
    .footer-address li {
        margin-top: 10px;
    }

    .address {
        text-align: start;
    }

    .Services {
        text-align: start;
    }

    .Services h3,
    .useful-Links h3,
    .address h3 {
        margin-top: 20px;
    }

  }
  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
    
    .menu {
      display: flex;
      align-items: center;
    }
    
    .menu li {
      margin-right: 20px;
    }
    
    .menu li:last-child {
      margin-right: 0;
    }
    
    .dropdown {
      position: relative;
    }
    
    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      display: none;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 4px;
    }
    
    .dropdown:hover .dropdown-menu {
      display: block;
    }
    
    .dropdown-menu a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
    }
    
    .search {
      display: flex;
      align-items: center;
    }
    
    .search a {
      margin-right: 20px;
    }
    
    .btn-quote {
      margin-left: 20px;
    }
    
    .introduction {
      text-align: center;
    }
    
    .introduction h3 {
      font-size: 64px;
      margin-bottom: 20px;
    }
    
    .introduction p {
      font-size: 24px;
      margin-bottom: 40px;
    }
    
    .btns {
      display: flex;
      align-items: center;
    }
    
    .btns button {
      margin-right: 20px;
    }

    .gallery-text {
      margin-top: 100px;
    }
    
    .slides {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 300px 300px;
    width: 90%;
    }
    
    .portfolio-img1,
    .portfolio-img2,
    .portfolio-img3,
    .portfolio-img4,
    .portfolio-img5 {
        height: 296px;
    }

}

@media only screen and (max-width: 480px) {
    .financial_solution {
      height: 390px;
      padding: 5px;
      margin: 0;
    }

    .financial_solution-text h3 {
      font-size: 28px;
      line-height: 42px;
    }
  
    .financial_solution-text p {
      font-size: 14px;
      line-height: 24px;
    }
  }

